@model WishList.Models.Item

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h3>Add item to wishlist</h3>
    <form asp-action="Create">
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
        <button type="submit">Add Item</button>
    </form>
</body>
</html>
