
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello</h1>
    <a asp-action="index" asp-controller="Item">View wishlist</a>
</body>
</html>
